{{define "Index"}}
<!DOCTYPE html>
<html lang="eng">

<head>{{template "header"}}</head>

<body>
    {{template "title"}}

    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Description}}</td>
                            <td>{{.Price}}</td>
                            <td>{{.Amount}}</td>
                            <td>
                                <a class="btn btn-primary" href="/product/prepare-edit?id={{.Id}}">Edit</a>
                                <a class="btn btn-danger" href="/product/delete?id={{.Id}}">Remove</a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="/product/prepare-new">New Product</a>
            </div>
        </section>
    </div>
</body>
</html>
{{end}}
